[submodule "libs/audio"]
	path = libs/audio
	url = git@github.com:pytorch/audio.git
[submodule "libs/nnmnkwii"]
	path = libs/nnmnkwii
	url = git@github.com:dendisuhubdy/nnmnkwii.git
[submodule "libs/bandmat"]
	path = libs/bandmat
	url = git@github.com:dendisuhubdy/bandmat.git
[submodule "libs/pysptk"]
	path = libs/pysptk
	url = git@github.com:dendisuhubdy/pysptk.git
[submodule "libs/SPTK"]
	path = libs/SPTK
	url = git@github.com:dendisuhubdy/SPTK.git
